@media only screen and (min-width: 1200px) {
.logo img {
	width: 45px;
	padding-right: 10px;
	}
.logo {
	font-size: 30px;
	padding-top: 15px;
}
#row-bar {
	justify-content: center;
}
#menu-checkbox {
	display: none;
}
#header ul {
	display: flex;
}
#header ul > li > a {
	display: inline;
	padding: 0 15px;
	text-decoration: none;
}
#header ul > li {
list-style-type: none;
}
.btn-group {
	margin-top: 20px;
	margin-left: 10px;
	font-size: 16px;
}
.first-but {
	padding-right: 12px;
	padding-left: 12px;
	border-radius: 18px;
}
.second-but {
	font-size: 14px;
	padding-right: 12px;
	padding-left: 12px;
	border-radius: 20px;
}
#name {
	margin-top: 30px;
	padding-bottom: 20px;
}
.border-row {
	font-size: 25px;
	text-align: center;
	padding-top: 20px;
}
.new-text {
	font-size: 40px;
}
#carousel {
	font-size: 30px;
	text-shadow: #525252 2px 1px 0;
	word-spacing: 8px;
	padding-top: 5px;
}
.owl-nav button.owl-next {
	right: -15px;
	top: 0;
}
.owl-nav button.owl-prev {
	left: -15px;
	top: 0;
}
#prev-course {
	padding: 20px 0;
	text-align: center;
}
#prev-course img {
	height: 70px;
}
.row-prev-course {
	margin-top: 20px;
}
.row-prev-course h3 {
	padding: 20px 0;
}
.arrow {
  margin: 30px;
}
.arrow img {
  display: block;
  height: 70px;
  margin: -16px;
  animation: arrow 5s infinite;
}
.arrow img:nth-child(2){
  animation-delay: -0.4s;
}
.arrow img:nth-child(3){
  animation-delay: -0.8s;
}
@keyframes arrow {
  0%{
  opacity: 0;
  transform: rotate(0deg) translate(-20px,-20px);
  }
  50%{
  opacity: 1;
  }
  100%{
  opacity: 0;
  transform: rotate(0deg) translate(150px,40px);
  }
}
#course {
	padding: 0;
	margin: 10px 0;
}
#course h3 {
	padding: 25px 0;
	margin: 0;
}
.name {
	margin: 5px 0;
}
#team img {
	width: 300px;
	height: 200px;
}
.new-text {
	padding: 15px 0;
	word-spacing: 12px;
}
.text {
	font-size: 26px;
	word-spacing: 10px;
	letter-spacing: 1px;
}
#portfolio {
	padding-bottom: 30px;
	margin-bottom: 0;
}
#first {
	width: 50%;
	position: relative;
	left: 20%;
}
#second {
	margin-top: 20%;
	width: 80%
}
.blockquote-inside {
	padding-top: 8%;
}
.row-top {
	margin-top: 30px;
}
#triangle {
	width: 100%;
	margin: 30px 10px;
}
#border {
	margin: 15px 15px;
}
#border p {
	font-size: 15px;
}
#photo-cat {
	width: 100%;
}
.footer-map {
	padding: 20px 0;
	font-size: 20px;
}
#img-footer p {
	padding: 10px 0;
	font-size: 18px;
}
iframe {
	width: 300px;
	height: 380px;
}
.but-footer {
	padding: 10px 15px;
	top: 25px;
	left: 30px;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
.logo img {
	width: 30px;
	padding-right: 10px;
	}
.logo {
	font-size: 20px;
	padding-top: 20px;
}
#row-bar {
	justify-content: center;
	font-size: 14px;
}
#menu-checkbox {
	display: none;
}
#header ul {
	display: flex;
}
#header ul > li > a {
	display: inline;
	padding: 0 15px;
	text-decoration: none;
}
#header ul > li {
list-style-type: none;
}
.btn-group {
	margin-top: 20px;
	margin-left: 10px;
	font-size: 13px;
}
.first-but {
	padding-right: 10px;
	padding-left: 10px;
	border-radius: 15px;
}
.second-but {
	padding-right: 10px;
	padding-left: 10px;
	border-radius: 15px;
}
.border-row {
	font-size: 20px;
	padding-bottom: 15px;
	padding-top: 15px;
	text-align: center;
}
#carousel {
	font-size: 30px;
	text-shadow: #525252 2px 1px 0;
	word-spacing: 8px;
	padding-top: 5px;
}
.owl-nav button.owl-next {
	right: 0;
	top: -5px;
}
.owl-nav button.owl-prev {
	left: 0;
	top: -5px;
}
#prev-course {
	padding: 20px 0;
	text-align: center;
}
#prev-course img {
	height: 70px;
}
.row-prev-course {
	margin-top: 20px;
}
.row-prev-course h3 {
	padding: 20px 0;
}
.arrow {
  margin: 30px;
}
.arrow img {
  display: block;
  height: 70px;
  margin: -16px;
  animation: arrow 5s infinite;
}
.arrow img:nth-child(2){
  animation-delay: -0.4s;
}
.arrow img:nth-child(3){
  animation-delay: -0.8s;
}
@keyframes arrow {
  0%{
  opacity: 0;
  transform: rotate(0deg) translate(-20px,-20px);
  }
  50%{
  opacity: 1;
  }
  100%{
  opacity: 0;
  transform: rotate(0deg) translate(150px,40px);
  }
}
#course {
	padding: 0;
	margin: 10px 0;
}
#course h3 {
	padding: 25px 0;
	margin: 0;
}
.name {
	margin-top: 5px;
	margin: 0;
}
.text {
	font-size: 25px;
}
.new-text {
	font-size: 35px;
	word-spacing: 10px;
}
#team img {
	width: 300px;
	height: 200px;
}
#portfolio {
	margin-bottom: 0;
}
#first {
	width: 50%;
	position: relative;
	left: 20%;
}
#second {
	margin-top: 27%;
	width: 80%
}
.blockquote-inside {
	padding-top: 10%;
}
.row-top {
	margin-top: 30px;
}
#triangle {
	width: 100%;
	margin: 30px 10px;
}
#border {
	margin: 15px 15px;
}
#border p {
	font-size: 15px;
}
#photo-cat {
	width: 100%;
}
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
.logo img {
	width: 40px;
	padding-right: 10px;
	}
.logo {
	font-size: 30px;
	text-align: center;
}
#row-bar {
	justify-content: center;
	font-size: 14px;
}
#menu-checkbox {
	display: none;
}
#header ul {
	display: flex;
}
#header ul > li > a {
	display: inline;
	padding: 0 10px;
	text-decoration: none;
}
#header ul > li {
list-style-type: none;
}
.btn-group {
	margin-top: 20px;
	margin-left: 10px;
	font-size: 13px;
	text-align: center;
	width: 100%;
	margin-bottom: 30px;
}
.first-but {
	padding-right: 30px;
	padding-left: 30px;
	border-radius: 15px;
}
.second-but {
	padding-right: 10px;
	padding-left: 10px;
	border-radius: 15px;
}
.border-row {
	font-size: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: center;
}
#carousel {
	font-size: 25px;
	text-shadow: #525252 1px 1px 0;
	word-spacing: 5px;
	padding-top: 0;
}
.owl-nav button.owl-next {
	right: 20px;
	top: -5px;
}
.owl-nav button.owl-prev {
	left: 20px;
	top: -5px;
}
#prev-course {
	padding: 20px 0;
	text-align: center;
}
#prev-course img {
	height: 70px;
}
.row-prev-course {
	margin-top: 20px;
}
.row-prev-course h3 {
	padding-top: 15px;
}
.arrow {
  margin: 30px;
}
.arrow img {
  display: block;
  height: 70px;
  margin: -16px;
  animation: arrow 5s infinite;
}
.arrow img:nth-child(2){
  animation-delay: -0.4s;
}
.arrow img:nth-child(3){
  animation-delay: -0.8s;
}
@keyframes arrow {
  0%{
  opacity: 0;
  transform: rotate(0deg) translate(-20px,-20px);
  }
  50%{
  opacity: 1;
  }
  100%{
  opacity: 0;
  transform: rotate(0deg) translate(150px,40px);
  }
}
#course {
	padding: 0;
	margin: 10px 0;
}
#course h3 {
	font-size: 15px;
	font-weight: bold;
	padding: 25px 0;
	margin: 0;
}
#team img {
	width: 200px;
	height: 140px;
}
.name {
	font-size: 18px;
	margin-top: 5px;
	margin: 0;
}
.prof {
	font-size: 15px;
	margin-top: 5px;
	margin: 0;
}
.new-text {
	font-size: 30px;
	word-spacing: 12px;
}
.text {
	font-size: 20px;
}
#first {
	width: 60%;
	position: relative;
	left: 20%;
}
#second {
	margin-top: 35%;
	width: 100%
}
.blockquote-inside {
	padding-top: 8%;
}
.row-top {
	margin-top: 30px;
}
#triangle {
	width: 100%;
	margin-top: 35%; 
	margin-left: 10px;
}
#border {
	margin: 15px 15px;
}
#border p {
	font-size: 12px;
}
.color-review {
	font-size: 12px;
	padding-top: 20px;
	padding-bottom: 0;
}
#photo-cat {
	width: 100%;
}
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
.logo img {
	width: 50px;
	padding-right: 10px;
	}
.logo {
	font-size: 30px;
	text-align: center;
}
#row-bar {
	justify-content: center;
	font-size: 14px;
}
#menu-checkbox {
	display: none;
}
#header ul {
	display: flex;
}
#header ul > li > a {
	display: inline;
	padding: 0 10px;
	text-decoration: none;
}
#header ul > li {
list-style-type: none;
}
.btn-group {
	margin-top: 20px;
	font-size: 14px;
	width: 100%;
	text-align: center;
	margin-bottom: 30px;
}
.first-but {
	padding: 5px 30px;
	border-radius: 35px;
}
.second-but {
	padding: 5px 25px;
	border-radius: 35px;
}
.border-row {
	font-size: 20px;
	padding-bottom: 15px;
	padding-top: 15px;
	text-align: center;
}
#carousel {
	font-size: 20px;
	text-shadow: #525252 1px 1px 0;
	word-spacing: 5px;
	padding-top: 0;
}
.owl-nav button.owl-next {
	right: 0;
	top: -8px;
}
.owl-nav button.owl-prev {
	left: 0;
	top: -8px;
}
#prev-course {
	padding: 20px 0;
	text-align: center;
}
#prev-course img {
	height: 70px;
}
.row-prev-course {
	margin-top: 20px;
}
.row-prev-course h3 {
	padding-top: 15px;
	font-size: 25px;
}
.arrow {
  margin: 30px;
}
.arrow img {
  display: block;
  height: 70px;
  margin: -16px;
  animation: arrow 5s infinite;
}
.arrow img:nth-child(2){
  animation-delay: -0.4s;
}
.arrow img:nth-child(3){
  animation-delay: -0.8s;
}
@keyframes arrow {
  0%{
  opacity: 0;
  transform: rotate(0deg) translate(-40px,-20px);
  }
  50%{
  opacity: 1;
  }
  100%{
  opacity: 0;
  transform: rotate(0deg) translate(100px,40px);
  }
}
#course {
	padding: 0;
	margin: 10px 0;
}
#course h3 {
	font-size: 25px;
	font-weight: bold;
	padding: 25px 0;
	margin: 0;
}
.row-course {
	border-bottom: border-bottom: 2px solid #525252;
}
#team img {
	width: 160px;
	height: 110px;
}
.new-text {
	font-size: 28px;
	word-spacing: 8px;
	color: #a1a1a1;
	text-shadow: black 2px 1px 0;
}
.text {
	font-size: 18px;
	color: #c5c5c5;
	text-shadow: black 2px 1px 0;
}
.name {
	font-size: 13px;
	margin-top: 5px;
	margin: 0;
}
.prof {
	font-size: 12px;
	margin-top: 5px;
	margin: 0;
}
#first {
	width: 80%;
	position: relative;
	left: 20%;
}
#second {
	margin-top: 50%;
	width: 100%
}
.review-blockquote {
	font-size: 14px;
} 
.blockquote-inside {
	padding-top: 8%;
	font-size: 14px;
}
.row-top {
	margin-top: 30px;
}
#triangle {
	width: 90%;
	margin: 5% 0; 
	margin-left: 10px;
}
#border {
	margin: 15px 15px;
}
#border p {
	font-size: 14px;
	padding: 20px 0;
	padding-left: 20px;
}
.color-review {
	font-size: 14px;
	padding-top: 20px;
	padding-bottom: 0;
}
#photo-cat {
	width: 70%;
	margin-bottom: 30px;
}	
}

@media all and (max-width: 576px) {
.logo img {
	width: 40px;
	padding-right: 10px;
	}
.logo {
	font-size: 28px;
	text-align: center;
	padding-top: 12px;
}
#menu-checkbox {
	display: none;
}
nav {
	position: absolute;
	top: 0;
	left: -16px;
	z-index: 10;
}
nav ul {
	display: none;
	background: linear-gradient(40deg, #e2e2e2, #e2e2e2, #424242);
	margin-top: 30px;
}
nav:hover ul {
	display: block;
}
nav li {
	display: block;
	font-size: 13px;
	padding-bottom: 7px;
	width: 30%;
}
li:hover {
  cursor: pointer;
}
#row-bar a:hover {
	color: #212121;
	text-shadow: none;
	text-decoration: underline;
	background: none;
	border: none;
}
.toggle-button {
	padding-top: 5px;
	padding-bottom: 3px;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
	cursor: pointer;
	margin: auto;
	top: 15px;
}
.toggle-button:after {
	content: attr(data-open);
	display: block;
}
#menu-checkbox:checked + nav[role="navigation"] #row-bar {
	display: block;
}
#menu-checkbox:checked + nav[role="navigation"] .toggle-button:after {
	content: attr(data-close);
}
#row-bar {
	position: relative;
}
.btn-group {
	margin-top: 20px;
	font-size: 14px;
	width: 90%;
	text-align: center;
	margin-bottom: 20px;
}
.first-but {
	padding: 5px 15px;
	border-radius: 25px;
}
.second-but {
	padding: 5px 15px;
	border-radius: 25px;
}
.border-row {
	font-size: 18px;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: center;
}
#carousel {
	font-size: 20px;
	text-shadow: #525252 1px 1px 0;
	word-spacing: 5px;
	padding-top: 0;
}
.owl-nav button.owl-next {
	right: -12px;
	top: -8px;
}
.owl-nav button.owl-prev {
	left: -12px;
	top: -8px;
}
#prev-course {
	padding: 20px 0;
	text-align: center;
}
#prev-course img {
	height: 70px;
}
.row-prev-course {
	margin-top: 20px;
}
.row-prev-course h3 {
	padding-top: 15px;
	font-size: 25px;
}
.arrow {
  margin: 30px;
}
.arrow img {
  display: block;
  height: 70px;
  margin: -16px;
  animation: arrow 5s infinite;
}
.arrow img:nth-child(2){
  animation-delay: -0.4s;
}
.arrow img:nth-child(3){
  animation-delay: -0.8s;
}
@keyframes arrow {
  0%{
  opacity: 0;
  transform: rotate(0deg) translate(-40px,-20px);
  }
  50%{
  opacity: 1;
  }
  100%{
  opacity: 0;
  transform: rotate(0deg) translate(60px,40px);
  }
}
#course {
	padding: 0;
	margin: 10px 0;
}
#course h3 {
	font-size: 18px;
	font-weight: bold;
	padding: 25px 0;
	margin: 0;
}
.row-course {
	border-bottom: border-bottom: 2px solid #525252;
}
#team {
	text-align: center;
}
#team img {
	width: 300px;
	height: 200px;
}
.new-text {
	font-size: 28px;
	word-spacing: 10px;
}
.text-size {
	font-size: 18px;
}
.name {
	font-size: 15px;
	margin-top: 35px;
	margin: 0;
}
.prof {
	font-size: 12px;
	margin-bottom: 25px;
	margin: 0;
}
#portfolio img {
	width: 60%;
}
#first {
	width: 50%;
	position: relative;
	left: 0;
}
#second {
	margin-top: 15px;
	width: 50%
}
.review-blockquote {
	font-size: 16px;
} 
blockquote p {
	font-size: 14px;
	font-weight: bold;
}
.review-blockquote cite {
	bottom: -55px;
}
.row-top {
	padding-top: 20px;
}
#triangle {
	width: 90%;
	margin: 5% 0; 
	margin-left: 10px;
}
#border {
	margin: 15px 15px;
}
#border p {
	font-size: 14px;
	padding: 20px 0;
	padding-left: 20px;
	margin-top: 15px;
}
.color-review {
	color: #eaeaea;
	font-size: 14px;
	padding-top: 20px;
	padding-bottom: 0;
	margin-left: 15px;
}
#photo-cat {
	width: 70%;
	margin-bottom: 30px;
}				
}
